
#let's start with directories
bin/
obj/
Debug/
Release/
log/

#let's continue with file cathegories
*.o
*.a
*.exe
*.bak
*.dll
*.*~
*.depend
*.layout
*.cbp
*.workspace
*.layout
*.save
*.log
TestConsole/*.log
